@media (min-width: 540px) {
    .website {
     display: grid;
     grid-template-columns: 20% 1fr;
   }
 }
 
 
 .header,
 .footer {
   grid-column: 1 / -1;
 }
 
 .navigation-list {
   display: grid;
   gap: .5rem;
 }
 
 /* Bonus : Toute la hauteur ? */
 .website {min-height: 100vh;}
 
 /* Bonus : Centré ? */
 .website {max-width: 800px; margin: 0 auto;}